<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [7]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=eAH81yX7k3UiIs1SH5em6L7pEqFPFQe2" #Make sure to change ******* to your API key.
data_json = requests.get(url).text
print(data_json)

{
    "success": true,
    "timestamp": 1658976063,
    "base": "EUR",
    "date": "2022-07-28",
    "rates": {
        "AED": 3.747542,
        "AFN": 92.071539,
        "ALL": 116.854655,
        "AMD": 413.442826,
        "ANG": 1.832482,
        "AOA": 442.068898,
        "ARS": 133.552271,
        "AUD": 1.46035,
        "AWG": 1.836482,
        "AZN": 1.734532,
        "BAM": 1.958619,
        "BBD": 2.052993,
        "BDT": 96.317149,
        "BGN": 1.956226,
        "BHD": 0.384616,
        "BIF": 2094.602476,
        "BMD": 1.020268,
        "BND": 1.410601,
        "BOB": 6.99059,
        "BRL": 5.350791,
        "BSD": 1.016733,
        "BTC": 4.4721466e-05,
        "BTN": 81.223129,
        "BWP": 12.887059,
        "BYN": 2.566917,
        "BYR": 19997.245277,
        "BZD": 2.049488,
        "CAD": 1.308631,
        "CDF": 2043.086074,
        "CHF": 0.977855,
        "CLF": 0.033657,
        "CLP": 928.698785,
        "CNY": 6.884149,
        "COP": 4519.418243,
        "CRC": 681.747304,
        "CUC": 1.020268,
        "CUP": 27.037092,
        "CVE": 110.424382,
        "CZK": 24.550678,
        "DJF": 181.015061,
        "DKK": 7.444576,
        "DOP": 55.26241,
        "DZD": 149.248028,
        "EGP": 19.319686,
        "ERN": 15.304014,
        "ETB": 53.494601,
        "EUR": 1,
        "FJD": 2.253746,
        "FKP": 0.859409,
        "GBP": 0.838701,
        "GEL": 2.823586,
        "GGP": 0.859409,
        "GHS": 8.566791,
        "GIP": 0.859409,
        "GMD": 55.145235,
        "GNF": 8801.374177,
        "GTQ": 7.865168,
        "GYD": 212.740189,
        "HKD": 8.008539,
        "HNL": 25.015493,
        "HRK": 7.513966,
        "HTG": 116.658666,
        "HUF": 403.29644,
        "IDR": 15266.825488,
        "ILS": 3.491733,
        "IMP": 0.859409,
        "INR": 81.37858,
        "IQD": 1483.961899,
        "IRR": 43259.347087,
        "ISK": 138.878866,
        "JEP": 0.859409,
        "JMD": 155.685896,
        "JOD": 0.723384,
        "JPY": 138.078427,
        "KES": 120.748576,
        "KGS": 84.037811,
        "KHR": 4166.853019,
        "KMF": 495.875529,
        "KPW": 918.240846,
        "KRW": 1330.143042,
        "KWD": 0.31363,
        "KYD": 0.847294,
        "KZT": 486.27519,
        "LAK": 15328.398602,
        "LBP": 1537.381328,
        "LKR": 366.040172,
        "LRD": 155.591042,
        "LSL": 17.16039,
        "LTL": 3.012585,
        "LVL": 0.61715,
        "LYD": 4.956885,
        "MAD": 10.480327,
        "MDL": 19.649187,
        "MGA": 4283.996399,
        "MKD": 61.702547,
        "MMK": 1882.563942,
        "MNT": 3208.394754,
        "MOP": 8.220722,
        "MRO": 364.235363,
        "MUR": 45.602799,
        "MVR": 15.774939,
        "MWK": 1043.362158,
        "MXN": 20.804665,
        "MYR": 4.546327,
        "MZN": 65.12394,
        "NAD": 17.168553,
        "NGN": 424.064234,
        "NIO": 36.508158,
        "NOK": 9.930057,
        "NPR": 129.952384,
        "NZD": 1.629675,
        "OMR": 0.392844,
        "PAB": 1.016748,
        "PEN": 3.9883,
        "PGK": 3.58352,
        "PHP": 56.758457,
        "PKR": 240.213775,
        "PLN": 4.784239,
        "PYG": 7001.565612,
        "QAR": 3.714539,
        "RON": 4.914727,
        "RSD": 117.350874,
        "RUB": 60.578442,
        "RWF": 1043.520609,
        "SAR": 3.83192,
        "SBD": 8.325352,
        "SCR": 13.376559,
        "SDG": 580.019958,
        "SEK": 10.425655,
        "SGD": 1.410357,
        "SHP": 1.405316,
        "SLL": 14174.066666,
        "SOS": 591.754901,
        "SRD": 24.60733,
        "STD": 21117.479743,
        "SVC": 8.896536,
        "SYP": 2563.452415,
        "SZL": 17.145459,
        "THB": 37.401964,
        "TJS": 10.376628,
        "TMT": 3.54543,
        "TND": 3.245452,
        "TOP": 2.392579,
        "TRY": 18.233182,
        "TTD": 6.903928,
        "TWD": 30.531715,
        "TZS": 2376.47471,
        "UAH": 37.534388,
        "UGX": 3944.751703,
        "USD": 1.020268,
        "UYU": 42.396193,
        "UZS": 11126.096365,
        "VND": 23846.20486,
        "VUV": 121.305764,
        "WST": 2.776118,
        "XAF": 656.889033,
        "XAG": 0.053009,
        "XAU": 0.000588,
        "XCD": 2.757324,
        "XDR": 0.772889,
        "XOF": 656.882586,
        "XPF": 120.899642,
        "YER": 255.219937,
        "ZAR": 17.034235,
        "ZMK": 9183.639386,
        "ZMW": 17.132741,
        "ZWL": 328.525756
    }
}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [10]:
# Turn the data into a dataframe
df = pd.read_json(data_json)
df

     success           timestamp base       date        rates
AED     True 2022-07-28 02:41:03  EUR 2022-07-28     3.747542
AFN     True 2022-07-28 02:41:03  EUR 2022-07-28    92.071539
ALL     True 2022-07-28 02:41:03  EUR 2022-07-28   116.854655
AMD     True 2022-07-28 02:41:03  EUR 2022-07-28   413.442826
ANG     True 2022-07-28 02:41:03  EUR 2022-07-28     1.832482
..       ...                 ...  ...        ...          ...
YER     True 2022-07-28 02:41:03  EUR 2022-07-28   255.219937
ZAR     True 2022-07-28 02:41:03  EUR 2022-07-28    17.034235
ZMK     True 2022-07-28 02:41:03  EUR 2022-07-28  9183.639386
ZMW     True 2022-07-28 02:41:03  EUR 2022-07-28    17.132741
ZWL     True 2022-07-28 02:41:03  EUR 2022-07-28   328.525756

[167 rows x 5 columns]

In [11]:
# Drop unnescessary columns
transformed_data = df.drop(columns = ['success', 'timestamp', 'base', 'date'])
transformed_data.head()

          rates
AED    3.747542
AFN   92.071539
ALL  116.854655
AMD  413.442826
ANG    1.832482

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [13]:
# Save the Dataframe
targetfile = 'exchange_rate_1.csv'
transformed_data.to_csv(targetfile)

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).